<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Fantasiw League</display-name>
  <welcome-file-list>
  	<welcome-file>preview.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>controller.Redirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/redirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registrazione</servlet-name>
    <servlet-class>controller.Registra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrazione</servlet-name>
    <url-pattern>/registrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Classifica</servlet-name>
    <servlet-class>controller.classifica</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Classifica</servlet-name>
    <url-pattern>/classifica</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LegaServlet</servlet-name>
    <servlet-class>controller.Leghe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LegaServlet</servlet-name>
    <url-pattern>/leghe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreaLegaServlet</servlet-name>
    <servlet-class>controller.CreaLega</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaLegaServlet</servlet-name>
    <url-pattern>/creaLega</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreaRosaServlet</servlet-name>
    <servlet-class>controller.CreaRosa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaRosaServlet</servlet-name>
    <url-pattern>/creaRosa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CambiaPasswordServlet</servlet-name>
    <servlet-class>controller.CambiaPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CambiaPasswordServlet</servlet-name>
    <url-pattern>/cambiaPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoseUtenteServlet</servlet-name>
    <servlet-class>controller.RoseUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoseUtenteServlet</servlet-name>
    <url-pattern>/roseUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GiocatoriRosaServlet</servlet-name>
    <servlet-class>controller.GiocatoriRosa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiocatoriRosaServlet</servlet-name>
    <url-pattern>/giocatoriRosa</url-pattern>
  </servlet-mapping>
   
   <servlet>
    <servlet-name>ListaGiocatoriServlet</servlet-name>
    <servlet-class>controller.ListaGiocatori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaGiocatoriServlet</servlet-name>
    <url-pattern>/listaGiocatori</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Formazione2Servlet</servlet-name>
    <servlet-class>controller.Formazione2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Formazione2Servlet</servlet-name>
    <url-pattern>/formazione2</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>CreaAfferisconoServlet</servlet-name>
    <servlet-class>controller.CreaAfferiscono</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaAfferisconoServlet</servlet-name>
    <url-pattern>/creaAfferiscono</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NomeLegaServlet</servlet-name>
    <servlet-class>controller.NomeLega</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NomeLegaServlet</servlet-name>
    <url-pattern>/nomeLega</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NomeRosaServlet</servlet-name>
    <servlet-class>controller.NomeRosa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NomeRosaServlet</servlet-name>
    <url-pattern>/nomeRosa</url-pattern>
  </servlet-mapping>
  
  
</web-app>